.content-box {
  padding: 16px;
  border: 1px solid var(--white);
  border-radius: 4px;
  margin: 8px 0;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
}

h3 {
  color: var(--green);
  font-weight: bold;
}

a {
  color: var(--green);
  transition: all 0.2s ease-in-out;
}

a:hover {
  color: var(--dark-gray);
  text-decoration: underline;
}
